@model DierenTuin_opdracht.Models.Enclosure

@{
    ViewData["Title"] = "Verblijf details";
}

<h1>Details</h1>

<div>
    <h4>Verblijf</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Naam
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            Klimaat
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Climate)
        </dd>

        <dt class="col-sm-2">
            Type leefgebied
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HabitatType)
        </dd>

        <dt class="col-sm-2">
            Beveiligingsniveau
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SecurityLevel)
        </dd>

        <dt class="col-sm-2">
            Oppervlakte (m²)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Bewerken</a> |
    <a asp-action="Index">Terug naar overzicht</a>
</div>
