@model DierenTuin_opdracht.Models.Animal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dier</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">Naam</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">Soort</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Species)
        </dd>

        <dt class="col-sm-2">Categorie</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Id)
        </dd>

        <dt class="col-sm-2">Grootte</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt class="col-sm-2">Voedingsklasse</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DietaryClass)
        </dd>

        <dt class="col-sm-2">Activiteitspatroon</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityPattern)
        </dd>

        <dt class="col-sm-2">Verblijf</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enclosure.Id)
        </dd>

        <dt class="col-sm-2">Ruimtebehoefte (m²)</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SpaceRequirement)
        </dd>

        <dt class="col-sm-2">Beveiligingsniveau</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SecurityRequirement)
        </dd>

    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Bewerken</a> |
    <a asp-action="Index">Terug naar overzicht</a>
</div>
