@model IEnumerable<DierenTuin_opdracht.Models.Enclosure>

@{
    ViewData["Title"] = "Index";
}

<h1>Verblijven</h1>



<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Climate)</th>
            <th>@Html.DisplayNameFor(model => model.HabitatType)</th>
            <th>@Html.DisplayNameFor(model => model.SecurityLevel)</th>
            <th>@Html.DisplayNameFor(model => model.Size)</th>
            <th>Acties</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Climate)</td>
                <td>@Html.DisplayFor(modelItem => item.HabitatType)</td>
                <td>@Html.DisplayFor(modelItem => item.SecurityLevel)</td>
                <td>@Html.DisplayFor(modelItem => item.Size)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Bewerken</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Verwijderen</a> |
                    <a asp-action="Sunrise" asp-route-id="@item.Id">Zonsopgang</a> |
                    <a asp-action="Sunset" asp-route-id="@item.Id">Zonsondergang</a> |
                    <a asp-action="FeedingTime" asp-route-id="@item.Id">Voeren</a> |
                    <a asp-action="CheckConstraints" asp-route-id="@item.Id">Controleer eisen</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p>
    <a class="btn btn-primary" asp-action="Create">Nieuw verblijf toevoegen</a>
</p>